.footer {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #69458d;
  font-size: 1em;
  flex-direction: column;

  color: #fafafa;
  @media (max-width: 1024px) {
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
  }
  .main-footer {
    margin-right: 20%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3vh;
    @media (max-width: 1024px) {
      margin: 0px;
    }
    .logos-wrapper {
      @media (max-width: 1024px) {
        margin-right: 5px;
        margin: 0px;
      }

      img {
        height: 5vh;
        margin-right: 5px;
      }
    }

    .contacto-footer {
      @media (max-width: 1024px) {
        margin-right: 10px;
      }
    }

    .web-map {
      display: flex;
      flex-direction: column;
      padding: 10px;

      @media (max-width: 1024px) {
        margin-right: 10px;
        margin: 0px;
      }
      .link {
        text-decoration: none;
        margin: 5px;
        color: #fafafa;
        font-family: "Montserrat", sans-serif;
      }
    }
  }

}
